<div class="modulo">

    <div class="col-12 titulo">
      <h4>Módulo Produto</h4>
    </div>
  
    <div class="col-12 botoes">
      <button>
        <i class="bi bi-funnel-fill"></i>
        Filtrar
      </button>
      <button routerLink="/produto/novo">
        <i class="bi bi-plus-lg"></i>
        Novo
      </button>
    </div>
  
    <div class="col-12 tabela">
      <table class="table table-hover m-0">
    <thead>
        <tr>
<th scope="col">ID</th>
<th scope="col">Nome</th>
<th scope="col">Preço</th>
<th scope="col">Quantidade</th>
<th scope="col">Ações</th>
        </tr>
    </thead>

    <tbody>
<tr *ngFor="let produto of produtos">
<td>{{produto.id}}</td>
<td>{{produto.nome}}</td>
<td>{{produto.preco}}</td>
<td>{{produto.quantidade}}</td>

<td>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Opções
        </button>
        <ul class="dropdown-menu">
<a [routerLink]="['/produto', produto.id]">Ver</a>
<a [routerLink]="['/produto/editar', produto.id]">Editar</a>
<button (click)="delete(produto.id)">Excluir</button>
</ul>
</div>
</td>

</tr>
    </tbody>
</table>