form input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px silver;
}

label {
    font-size: 16px;
}

input{
    margin-bottom: 3%;
}

button {
    border: none;
    background-color: #009367;
    color: #FFF;
    padding: 8px 24px;
    border-radius: 4px;
}

button:hover{
    background-color: #01543b;
}

.button-submit{
    margin-right: 2%;
}

.col-4{
    margin-bottom: 2%;
}