.menu{
    background-color: #2d2154;
    color: #FFF;
    height: 100%;

    div{
        padding: 8px;
    }

    div:hover{
        background-color: #3a2b6d;
        cursor: pointer;
    }

    div.item{
        padding: 8px 8px 8px 24px;
        font-size: 12px;
    }
}